* {
    margin: 0;
    padding: 0;    
}

@keyframes showTile {
    from {
        transform: scale(0, 0);
    }
    to {
        transform: scale(1, 1);
    }
}

@keyframes mergeTile {  
    from {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.3, 1.3);
    }
    to {
        transform: scale(1, 1);
    }
}

body {
    overflow: hidden;
}

h2 {
    color: #ffffff;
    text-align: center;
}

.wrapper {   
    width: 100%;   
    
    h1 {
        color: #ffffff;
        padding: 0.5rem;
    }

    .btn {      
        background-color: transparent;
        padding: 10px;
        margin: 2px;
        width: 11rem;
        color: #ffffff;
        font-size: 1.5rem;
        cursor: pointer;
        border: 1px solid #ffffff;
        border-radius: 5px;

        &.btn-primary {
            border: none;
            background: #0d6efd;
            border-radius: 5px;
        }

    }

    .button-size-group {
        display: flex;
        flex-direction: column;
        
        & .btn {
            width: 11rem;
            font-size: 1.5rem;            

            &.active {
                border: 2px solid #0d6efd;                
            }
        }
    }
  
    .screen {
        background: linear-gradient(90deg, #29323C 0%, #485563 100%);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        width: 100%;
        transition: 500ms ease-in;

        &.up {
            margin-top: -100vh;
        }
    }

    .field {
        background: #baad9f;
        display: flex;
        flex-wrap: wrap;
        border-radius: 5px;
        box-sizing: border-box;        
        position: relative;

        &__cell {
            background: #cdc1b4;
            border-radius: 5px;
            box-sizing: border-box;                    
        }

        &__tile {   
            position: absolute;
            box-sizing: border-box;                            
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: #776e65;
            font-weight: bold;                        
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;       
            transition: top 150ms ease-in, left 150ms ease-in;

            &.new {
                animation: showTile 150ms ease-in;
            }

            &.merge {
                animation: mergeTile 150ms ease-in;
            }

            &._2 {
                background: #eee4da;
            }

            &._4 {
                background: #ede0c8;
            }

            &._8 {
                background: #f2b179;
            }

            &._16 {
                background: #f59563;
                color: #ffffff;
            }

            &._32 {
                background: #f67c5f;
                color: #ffffff;
            }

            &._64 {
                background: #f65e3b;
                color: #ffffff;
            }

            &._128 {
                background: #edcf72;
                color: #ffffff;                
            }

            &._256 {
                background: #edcc61;
                color: #ffffff;                
            }

            &._512 {
                background: #edc850;
                color: #ffffff;                
            }

            &._1024 {
                background: #edc53f;
                color: #ffffff;                
            }

            &._2048 {
                background: #edc22e;
                color: #ffffff;                
            }

            &._max {
                background: #3c3932;
                color: #ffffff;                
            }

        }        

    }
    
}